<h1>Detalle de la sala @Model.Sala_cod</h1>
<a asp-controller="Salas" asp-action="Index">Back to List</a>
<ul class="list-group">
	<li class="list-group-item">@Model.Hospital_cod</li>
	<li class="list-group-item">@Model.Sala_cod</li>
	<li class="list-group-item">@Model.Nombre</li>
	<li class="list-group-item">@Model.Numcama</li>
</ul>